%aside.banner
  .banner__box
    %h2.banner__box__upper
      = "だれでもかんたん、人生を変えるフリマアプリ"
    %p.banner__box__bottom
      = "今すぐ無料ダウンロード"
    .banner__box__btn
      %a.main__appeal__box2__btn__app{:href => "#"}
        %img{src: "/assets/Download_on_the_App_Store_Badge_JP_blk.png"}
      %a.main__appeal__box2__btn__google{:href => "#"}
        %img{src: "/assets/Download_on_the_App_Store_Badge_JP_blk.png"}

