.credit_main {
  background-color: rgb(255, 255, 255);
  height: 55%;
  width: 700px;
  margin: 0px auto;
  position: relative;
  &_top {
    height: 10%;
    max-height: 97px;
    padding: 8px 24px 0 24px;
    border-bottom: 1px solid rgb(245, 245, 245);
    h1 {
      font-size: 18px;
      text-align: center;
      font-weight: bold;
    }
  }
  &_content {
    width: 60%;
    height: 87%;
    margin: 0 auto;
    padding: 0 0 0 8%;
    &_formbox {
      margin: 20px 0 0 0;
      &_textbox {
        &_text {
          font-weight: 600;
          font-size: 14px;
        }
        &_text2 {
          background-color: #ea352d;
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          vertical-align: top;
        }
      }
      &_form {
        width: 80%;
        height: 34px;
        padding: 10px 16px 8px;
        border: 1px solid #ccc;
        background: #fff;
        line-height: 1.5;
        font-size: 16px;
        border: radius 30px;
      }
      &_imagelists{
        margin: 8px 0 0;
        li {
          display: inline-block;
        }
        img {
          vertical-align: middle;
          margin: 0 0 0 5px;
        }
      }
    }
    &_formbox2 {
      margin-top: 25px;
      &_textbox2 {
        &_text {
          font-weight: 600;
          font-size: 14px;
        }
        &_text2 {
          background-color: #ea352d;
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          vertical-align: top;
        }
      }
      &_formblock {
        display: inline-flex;
        width: 100%;
        &_selectbox1 {
          width: 40%;
          display: flex;
          &_select1 {
            width: 100%;
            height: 50px;
            margin-right: 20px;
          }
          span {
            line-height: 50px;
          }
        }
        &_selectbox2 {
          width: 40%;
          display: flex;
          margin-left: 20px;
          &_select2 {
            width: 100%;
            height: 50px;
            margin-right: 20px;
          }
          span {
            line-height: 50px;
          }
        }
      }
    }
    &_formbox3 {
      margin: 25px 0;
      position: relative;
      &_textbox3 {
        &_text {
          font-weight: 600;
          font-size: 14px;
        }
        &_text2 {
          background-color: #ea352d;
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          vertical-align: top;
        }
      }
      &_form {
        width: 80%;
        height: 34px;
        padding: 10px 16px 8px;
        border: 1px solid #ccc;
        background: #fff;
        line-height: 1.5;
        font-size: 16px;
        border: radius 30px;
      }
      &_tips {
        position: absolute;
        right: 45px;
        display: block;
        &_question {
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background-color: #0099e8;
          color: #fff;
          line-height: 14px;
          font-size: 12px;
          text-align: center;
          display: inline-block;
        }
        &_text {
          color: #0099e8;
          font-size: 14px;
        }
      }
    }
    &_btnbox {
      margin: 40px 0;
      &_btn {
        border: 1px solid #ea352d;
        background: #ea352d;
        color: #fff;
        width: 90%;
        line-height: 48px;
        &:hover {
          cursor: pointer;
        }
      }
      
    }
  }
} 