// Place all the styles related to the useraddress controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$deliver_address_width: 100%;

@mixin deliver_address_guide_sign($background-color:#3CCACE) {
  height: 15px;
  width: 30px;
  background-color: $background-color;
  color: white;
  border-radius: 1px;
  line-height: 15px;
  margin-left: 10px;
}

@mixin deliver_address_form() {
  height: 30px;
  width: 250px;
  border-radius: 3px;
  color: silver;
  border-style: solid;
  border-width: 1px;
  line-height: 30px;
  font-size: 13px;
  padding-left: 10px;
  margin-bottom: 5px;
  text-align: left;
}

.content {
  width: 100%;
  padding: 10px 40px 10px 40px;
  text-align: center;
  background-color: whitesmoke;

  &__title {
    height: 40px;
    width: 35%;
    background-color: white;
    font-size: 18px;
    margin-bottom: 1px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    border: whitesmoke;
    border-width: 1px;
    line-height: 20px;
    margin: auto;
  }

  &__column {
    width:35%;
    margin: auto;
    background-color: white;
    margin-bottom: 30px;

    &__info {
      width: 250px;
      font-size: 8px;
      margin: 0 auto;
      padding-bottom: 30px;
  
      // お名前
      &__name {
        width:100%;
        margin-top: 10px;
        &__guide {
          display: flex;
          padding-top: 15px;
          &__text {
            color: black;
          }
          &__sign {
            @include deliver_address_guide_sign();
          }
        }
        &__example {
          @include deliver_address_form();
        }
      }
  
      // お名前カナ
      &__name-kana {
        width:100%;
        &__guide {
          display: flex;
          padding-top: 15px;
          &__text {
            color: black;
          }
          &__sign {
            @include deliver_address_guide_sign();
          }
        }
        &__example {
          @include deliver_address_form();
        }
      }
  
      // 郵便番号
      &__postal-code {
        width:100%;
        &__guide {
          display: flex;
          padding-top: 15px;
          &__text {
            color: black;
          }
          &__sign {
            @include deliver_address_guide_sign();
          }
        }
        &__example {
          @include deliver_address_form();
        }
      }

      // 都道府県
      &__prefecture {
        width:100%;
        &__guide {
          display: flex;
          padding-top: 15px;
          &__text {
            color: black;
          }
          &__sign {
            @include deliver_address_guide_sign();
          }
        }
        &__example {
          @include deliver_address_form();
        }
      }

      // 市区町村      
      &__city {
        width:100%;
        &__guide {
          display: flex;
          padding-top: 15px;
          &__text {
            color: black;
          }
          &__sign {
            @include deliver_address_guide_sign();
          }
        }
        &__example {
          @include deliver_address_form();
        }
      }

      // 番地
      &__street-number {
        width:100%;
        &__guide {
          display: flex;
          padding-top: 15px;
          &__text {
            color: black;
          }
          &__sign {
            @include deliver_address_guide_sign();
          }
        }
        &__example {
          @include deliver_address_form();
        }
      }

      // 建物名
      &__building {
        width:100%;
        &__guide {
          display: flex;
          padding-top: 15px;
          &__text {
            color: black;
          }
          &__sign {
            @include deliver_address_guide_sign(silver);
          }
        }
        &__example {
          @include deliver_address_form();
        }
      }

      // 電話番号
      &__phone-number {
        width:100%;
        &__guide {
          display: flex;
          padding-top: 15px;
          &__text {
            color: black;
          }
          &__sign {
            @include deliver_address_guide_sign(silver);
          }
        }
        &__example {
          @include deliver_address_form();
        }
      }
  
    }
    &__button {
      margin-top: 30px;
      font-size: 12px;
      width: 250px;
      height: 35px;
      // text-align: center;
      line-height: 35px;
      color: white;
      background-color: #3CCACE;
      padding-left: 10px;
    }
  }
}
