// 新規会員登録トップ
*{
  border-style: solid;
  border-width: 0;
  // border-top: 1px solid#f5f5f5;
}
.account_body {
  background-color: rgb(245, 245, 245);
  height: 100%;
  width: 100vw;
  font-family: "Source Sans Pro", "Helvetica", "Arial", "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", "sans-serif";
  .account_header {
    height: 128px;
    display: table;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &_logo {
    }
    a {
      margin: 0px 8px 0px 0px;
    }
  }
  .purchase-main{
    display: block;
    // width: 700px;
    // margin: 0 auto;
  }
    .purchase-mainbox{
      background-color: #fff;
      width: 700px;
      margin: 0 auto;
      h2{
        font-size: 22px;
        padding: 32px;
        text-align: center;
      }
    }
    .purchase-content{
      margin: 0;
      padding: 32px 16px;
      border-top: 1px solid#f5f5f5;
    }
    .purchase-item{
      text-align: center;
    }
      .purchase-content-inner{
        max-width: 343px;
        margin: 0 auto;
        display: flex;
        .purchase-item-box{
          display: flex;
          .purchase-item-image{
            height: 80px;
            width: 80px;
            min-width: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 22px;
            -webkit-box-pack: center;
            -webkit-box-align: center;
            &__img{
              width: auto;
              max-height: 80px;
            }
          }
        .purchase-item-detail{
          margin-right: 16px;
          &__name{
            font-size: 14px;
            margin: 0;
            padding: 0 0 8px;
            line-height: 1.5;
            text-align: left;
          }
          .purchase-price-ja{
            margin: 0;
            text-align: left;
            font-size: 15px;
            font-weight: 600;
            &__fee{
              font-size: 12px;
              display: inline-block;
            }
          }
        }
        }
        .purchase-price-data {
          display: table;
          border-collapse: collapse;
          width: 100%;
          &:first-child {
            margin: 0;
          }
          .purchase-price-cell-label {
            font-size: 18px;
          }
        }
        
        .purchase-price-row {
          display: table-row;
          &:first-child {
            border: 0;
          }
        }
        
        .purchase-price-cell {
          display: table-cell;
          padding: 0;
          text-align: right;
          &:first-child {
            text-align: left;
          }
          &.purchase-accordion {
            padding: 0;
            .accordion-toggle {
              padding: 16px 0;
            }
          }
        }
        .purchase-accrdion{
          margin: 24px 0;
        }
          .use-point-accordion{
            text-align: left;
            position: relative;
            cursor: pointer;
          }
            .icon-check{
              position: absolute;
              top: 50%;
              left: 0;
              z-index: 1;
              width: 20px;
              border-radius: 2px;
              background: #fff;
              font-size: 10px;
              line-height: 17px;
              text-align: center;
              color: white;
            }
        .purchase-user-info{
          text-align: left;
          padding: 24px 0;
          border-top: 1px solid #f5f5f5;
          .purchase-content-inner{
            display: block;
          }
          h3{
            margin: 0;
            font-size: 14px;
          }
          a{
            color: #0099e8;
            text-decoration: none;
          }
            p{
              line-height: 1.5;
              text-align: left;
              margin: 8px 0 0;
              font-size: 14px;
            }
              i{
                display: inline-block;
                font-style: normal;
                font-weight: 400;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                text-decoration: inherit;
                vertical-align: inherit;
                border-style: solid;
                border-width: 0;
                height: 14px;
                width: 14px;
                color: #0099e8;
                font-weight: 900;
              }
              span{
                text-decoration: none;
                margin: 0 0 0 4px;
              }
          .btn-default{
            border: 1px solid#888;
            color: #fff;
            background: #888;
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            text-align: center;
          }
          .input{
            border: 0;
            outline: 0;
          }
        }  
      }
    }

  

  
  // .account_main {
  //   background-color: rgb(255, 255, 255);
  //   height: 50%;
  //   width: 700px;
  //   margin: 0px auto;
  //   position: relative;
  //   &_top {
  //     height: 10%;
  //     max-height: 97px;
  //     padding: 32px;
  //     border-bottom: 1px solid rgb(245, 245, 245);
  //     h1 {
  //       font-size: 22px;
  //       text-align: center;
  //     } 
  //   }
    
  //   &_bottom {
  //     height: 70%;
  //     color: rgb(51, 51, 51);
  //     position: relative;
  //     padding: 24px 0px;
  //     &_bar {
  //       height: 100%;
  //       a {
  //         text-decoration: none;
  //       }
  //       &_btn{
  //         display: block;
  //         height: 50px;
  //         line-height: 50px;
  //         width: 343px;
  //         margin: 0 auto;
  //         border-radius: 5px;
  //         text-align: center;
  //         &_mail {
  //           background-color: #ea352d;
  //           color: #fff;
  //           position: relative;
  //           .account_icon_mail {
  //             top: 10px;
  //             left: 15px;
  //             position: absolute;
  //             font-size: 30px;
  //           }
  //         }
  //         &_facebook {
  //           background-color: #385185;
  //           color: #fff;
  //           margin-top: 16px;
  //           position: relative;
  //           .account_icon_facebook {
  //             position: absolute;
  //             top: 10px;
  //             left: 15px;
  //             font-size: 30px;
  //           }
  //         }
  //         &_google {
  //           background-color: #ffffff;
  //           color: #333;
  //           margin-top: 16px;
  //           position: relative;
  //           border: 1px solid rgb(119, 119, 119);
  //           .account_icon_google {
  //             display: inline-block;
  //             position: absolute;
  //             top: 10px;
  //             left: 15px;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
  .account_footer {
    height: 140px;
    width: 456px;
    margin: 0 auto;
    padding: 40px 0px;
    vertical-align: bottom;
    position: relative;
    text-align: center;
    background-color: rgb(245, 245, 245);
    &_container {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 12px;
      &_explanation {
        margin: 0 auto;
        display: flex;
        padding-bottom: 20px;
        a{
          font-size: 12px;
          color: #333;
          text-decoration: none;
          padding-right: 20px;
        }
      }
      .logo_gray {
        padding-top: 30px;
      }
    }
  }


.camera {
  background-color: #3ccace;
  height: 120px;
  width: 120px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 5px;
  a {
    text-decoration: none;
  }
  &_sell {
    padding-top: 15px;
    color: #fff;
    text-align: center;
  }
  &_btn {
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 5px;
  }
}
